<!DOCTYPE html>
<html>
<head>
<title>Booking Agent Menu</title>
</head>
<body>

<h1>Welcome, Booking Agent!</h1>


<h3>View My Upcoming Flights</h3>

<form action="viewMyFlights" method="POST">
    <input type="submit" value="View My Upcoming Flights"/>
</form>

<br> View My Flights by specifying a range of departure date <br>
<form action="viewMyFlightsOption" method="POST">
    <input type="text" name="start_date" placeholder="Enter Start Date" required/> 
    <input type="text" name="end_date" placeholder="Enter End Date" required/>
    <input type="submit" value="View My Flights"/>
</form>

{% if result_viewMyFlights %}
<table>
    <th>Ticket ID</th>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Status</th>
    <th>Date of Purchase</th>
    <th>Customer Email</th>


    {% for flight in result_viewMyFlights %}
    <tr>
        <td>{{ flight.ticket_id }}</td>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.status }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.purchase_date }}</td>
        <td>{{ flight.customer_email }}</td>
    </tr>
    {% endfor %}

</table>
{% endif %}
    
{% if message_viewMyFlights %}
    <p><strong>{{ message_viewMyFlights }}</strong></p>
{% endif %}


<h3>Search For Flights</h3>

<form action="searchFlights" method="POST">
    <input type="text" name="departure_date" placeholder="Enter Departure Date" required/> 
    <input type="text" name="arrival_date" placeholder="Enter Arrival Date" required/> 
    <input type="text" name="departure_airport" placeholder="Enter Departure Airport" required/>
    <input type="text" name="arrival_airport" placeholder="Enter Arrival Airport" required/>
	<input type="submit" value="Search"/>
</form>

{% if result_searchFlights %}
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Status</th>

    {% for flight in result_searchFlights %}
    <tr>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.status }}</td>
        <td>
            <form action="purchaseTickets" method = "POST">
                <input type="hidden" name="airline_name" value="{{ flight.airline_name }}"/>
                <input type="hidden" name="flight_num" value="{{ flight.flight_num }}"/>
                <br>
                <input type="submit" value="Buy Ticket"/>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
{% endif %}
    
{% if message_searchFlights %}
<p><strong>{{message_searchFlights}}</strong></p>
{% endif %}

{% if message_purchaseTickets %}
<p><strong>{{message_purchaseTickets}}</strong></p>
{% endif %}


<h3>View My Commission</h3>

<form action="/commission_default" method="POST">
    <input type="submit" value="View My Commissions"/>
</form>
    {% if result_commission_default %}
        {% for value in result_commission_default %}
        <h3> Your total commission: {{ value.tot_commission }}</h3>
        <h3> Your average commission: {{ value.avg_commission }}</h3>
        <h3> Number of tickets sold: {{ value.num_tickets }}</h3>
        {% endfor %}
    {% endif %}

    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

    
    
    
<form action="/commission_optional" method="POST">
    <input type="date" name="start_date" placeholder="Start Date" /> 
    <input type="date" name="end_date" placeholder="End Date" />
    <input type="submit" value="Search"/>
</form>
    {% if result_commission_optional %}
        {% for value in result_commission_optional %}
        <h3> Your total commission: {{ value.tot_commission }}</h3>
        <h3> Your average commission: {{ value.avg_commission }}</h3>
        <h3> Number of tickets sold: {{ value.num_tickets }}</h3>
        {% endfor %}
    {% endif %}
    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

    



<a href="/booking_agent/logout">Logout</a>
</body>

</html>
