<!DOCTYPE html>
<html>
<head>
    <title>Customer Home</title>
    <script type=text/javascript src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>
<body>

<h1>
    Welcome, Customer!
</h1>

<form action="viewMyFlights" method="POST">
    <input type="submit" value="View My Upcoming Flights"/>
</form>

    {% if result_viewMyFlights %}
    <table>
        <th>Ticket ID</th>
        <th>Airline Name</th>
        <th>Flight Number</th>
        <th>Airplane ID</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Ticket Price</th>
        <th>Status</th>
        <th>Date of Purchase</th>
        <th>Booking Agent ID</th>
        <th>Customer Email</th>
    
    
        {% for flight in result_viewMyFlights %}
        <tr>
            <td>{{ flight.ticket_id }}</td>
            <td>{{ flight.airline_name }}</td>
            <td>{{ flight.flight_num }}</td>
            <td>{{ flight.airplane_id }}</td>
            <td>{{ flight.departure_airport }}</td>
            <td>{{ flight.departure_time }}</td>
            <td>{{ flight.arrival_airport }}</td>
            <td>{{ flight.arrival_time }}</td>
            <td>{{ flight.status}}</td>
            <td>{{ flight.price }}</td>
            <td>{{ flight.purchase_date }}</td>
            <td>{{ flight.booking_agent_id}}</td>
            <td>{{ flight.customer_email}}</td>
        </tr>
        {% endfor %}
    
    </table>
    {% endif %}
    
    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}


<h3>Search For Flights</h3>
<form action="searchFlights" method="POST">
    <input type="text" name="departure_date" placeholder="Enter Departure Date" /> 
    <input type="text" name="arrival_date" placeholder="Enter Arrival Date" /> 
    <input type="text" name="departure_airport" placeholder="Enter Departure Airport"/>
    <input type="text" name="arrival_airport" placeholder="Enter Arrival Airport"/>
	<input type="submit" value="Search"/>
</form>
    
{% if result_searchFlights %}
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Status</th>

    {% for flight in result_searchFlights %}
    <tr>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.status }}</td>
        <td>
            <form action="purchaseTickets" method = "POST">
                <input type="hidden" name="airline_name" value="{{ flight.airline_name }}"/>
                <input type="hidden" name="flight_num" value="{{ flight.flight_num }}"/>
                <br>
                <input type="submit" value="Buy Ticket"/>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
{% endif %}
    
{% if message_searchFlights %}
<p><strong>{{message_searchFlights}}</strong></p>
{% endif %}

{% if message_purchaseTickets %}
<p><strong>{{message_purchaseTickets}}</strong></p>
{% endif %}

<form action="trackMySpendingDefault" method="POST">
    <h3>My Spending</h3>
    <input type="submit" value="Show my Recent Spending">
</form>

{% if total and monthwise %}
<canvas id="myChart" width="800" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for value in monthwise %}
                    '{{value.year}}' + '/' + '{{value.month}}', 
                {% endfor %}],
        datasets: [{
            label: '# of Votes',
            data: [{% for value in monthwise %}
                    {{value.total}},
                {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        hover: {
            animationDuration: 0
        },
        animation: {
            duration: 1,
            onComplete: function () {
                var chartInstance = this.chart,
                    ctx = chartInstance.ctx;
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function (dataset, i) {
                    var meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function (bar, index) {
                        var data = dataset.data[index];                            
                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                    });
                });
            }
        }
    }
});
</script>
{% endif %}

<form action="trackMySpendingOptional" method="POST">
    <h3> Track My Spending by Time Period </h3>
    <h3> Start - End </h3>
    <input type="date" name="start_date" placeholder="Start Date" /> 
    <input type="date" name="end_date" palceholder="End Date" />
    <input type="submit" value="Search"/>
</form>
    {% if total and monthwise %}
    <body>
    <h3>Total Spending: "{{ total }}"</h3>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
        var labels = [];
        {% for value in monthwise %}
            labels.push({{ value.year }} + {{ value.month }});
        {% endfor %}
        console.log(labels);
        
        var data = [];
        {% for value in monthwise %}
            data.push({{ value.total }});
        {% endfor %}
        console.log(data);

        var barData = {
            labels : labels,
            datasets : [
                {
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    data : data
                }
            ]
        }
     
       var mychart = document.getElementById("chart").getContext("2d");
     
       steps = 10
       max = 10
       // draw bar chart
       new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true
       });

    {% endif %}
     
    </script>
    </body>


<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>
    

<a href="/logout">Logout</a>
</body>

</html>
