<!DOCTYPE html>
<html>
<head>
    <title>Customer Menu</title>
    <script type=text/javascript src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>
<body>

<h1>Welcome, Customer!</h1>


<h3>View My Upcoming Flights</h3>

<form action="viewMyFlights" method="POST">
    <input type="submit" value="View My Upcoming Flights"/>
</form>

<br>OR specify a range of departure date:<br>

<form action="viewMyFlightsOption" method="POST">
    Enter Start Date:
    <input type="date" name="start_date" required/>
    Enter End Date:
    <input type="date" name="end_date" required/>
    <input type="submit" value="View My Flights"/>
</form>

{% if result_viewMyFlights %}
<table>
    <th>Ticket ID</th>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Status</th>
    <th>Date of Purchase</th>
    <th>Booking Agent ID</th>

    {% for flight in result_viewMyFlights %}
    <tr>
        <td>{{ flight.ticket_id }}</td>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.status}}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.purchase_date }}</td>
        <td>{{ flight.booking_agent_id}}</td>
    </tr>
    {% endfor %}

</table>
{% endif %}

{% if message_viewMyFlights %}
    <p><strong>{{ message_viewMyFlights }}</strong></p>
{% endif %}


<h3>Search For Flights</h3>

<form action="searchFlights" method="POST">
        Enter Departure Date:
        <input type="date" name="departure_date" required/>
        Enter Arrival Date:
        <input type="date" name="arrival_date" required/><br>
        Enter Departure Airport:
        <input type="text" name="departure_airport" required/>
        Enter Arrival Airport:
        <input type="text" name="arrival_airport" required/>
        <input type="submit" value="Search"/>
</form>

{% if result_searchFlights %}
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Status</th>

    {% for flight in result_searchFlights %}
    <tr>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.status }}</td>
        <td>
            <form action="purchaseTickets" method = "POST">
                <input type="hidden" name="airline_name" value="{{ flight.airline_name }}"/>
                <input type="hidden" name="flight_num" value="{{ flight.flight_num }}"/>
                <br>
                <input type="submit" value="Buy Ticket"/>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
{% endif %}
    
{% if message_searchFlights %}
<p><strong>{{message_searchFlights}}</strong></p>
{% endif %}

{% if message_purchaseTickets %}
<p><strong>{{message_purchaseTickets}}</strong></p>
{% endif %}


<h3>Track My Spending in the Past 6 Months</h3>

<form action="trackMySpendingDefault" method="POST">
    <input type="submit" value="Show my Recent Spending">
</form>

{% if total %}
<br>My Total Spending in the Past 6 Month: {{ total }}<br>
<canvas id="myChart1" width="800" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart1").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for e in monthwise_label %}
                    "{{e}}", 
                {% endfor %}],
        datasets: [{
            label: 'Spending',
            data: [{% for e in monthwise_total %}
                    {{e}},
                {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        hover: {
            animationDuration: 0
        },
        animation: {
            duration: 1,
            onComplete: function () {
                var chartInstance = this.chart,
                    ctx = chartInstance.ctx;
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function (dataset, i) {
                    var meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function (bar, index) {
                        var data = dataset.data[index];                            
                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                    });
                });
            }
        }
    }
});
</script>
{% endif %}


<h3> Track My Spending by Time Period </h3>

<form action="trackMySpendingOptional" method="POST">
    Enter Start Month:
    <input type="month" name="start_month" required/>
    Enter End Month:
    <input type="month" name="end_month" required/>
    <input type="submit" value="Search"/>
</form>

{% if total_option %}
<br>My Total Spending in the Period: {{ total_option }}<br>
<canvas id="myChart2" width="800" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart2").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for e in monthwise_label_option %}
                    "{{e}}", 
                {% endfor %}],
        datasets: [{
            label: 'Spending',
            data: [{% for e in monthwise_total_option %}
                    {{e}},
                {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        hover: {
            animationDuration: 0
        },
        animation: {
            duration: 1,
            onComplete: function () {
                var chartInstance = this.chart,
                    ctx = chartInstance.ctx;
                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function (dataset, i) {
                    var meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function (bar, index) {
                        var data = dataset.data[index];                            
                        ctx.fillText(data, bar._model.x, bar._model.y - 5);
                    });
                });
            }
        }
    }
});
</script>
{% endif %}

{% if message_trackMySpendingOptional %}
    <p><strong>{{ message_trackMySpendingOptional }}</strong></p>
{% endif %}

<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>
    

<a href="logout">Logout</a>
</body>

</html>
