<!DOCTYPE html>
<html>
<head>
<title>Booking Agent: Compare Revenue</title>
</head>
<body>

<form action="compareRevenue" method="POST">
    <input type="submit" value="View Revenue Report"/>
</form>
{% if revenue_last_month and revenue_last_year%}
    <script src='static/Chart.min.js'></script>   </head><body>
    <canvas id="chart1" width="600" height="400"></canvas>
    <canvas id="chart2" width="600" height="400"></canvas>
    <script>
    var pieData_Month = [

                {
                    value: {revenue_last_month.revenue_direct_sale_last_month},
                    label: "Direct Sales"
                },
                {
                    value: {revenue_last_month.revenue_indirect_sale_last_month},
                    label: "Indirect Sales"
                }

 
 
    ];
    var pieData_Year = [

                {
                    value: {revenue_last_year.revenue_direct_sale_last_year},
                    label: "Direct Sales"
                },
                {
                    value: {revenue_last_year.revenue_indirect_sale_last_year},
                    label: "Indirect Sales"
                }



    ];

    var mychart1 = document.getElementById("chart1").getContext("2d");
    var mychart2 = document.getElementById("chart2").getContext("2d");
 
    steps = 10
    max = 10
    new Chart(mychart1.Pie(pieData_Month));
    new Chart(mychar2.Pie(PieData_Year))
 
    </script>
    </body>





<a href="/index">back</a>
</body>
    
</html>