<!DOCTYPE html>
<html>
<head>
<title>Airline Staff Menu</title>
</head>
<body>


<h1>Welcome Airline Staff!</h1>


<h3>You may choose to: </h3>

<form action="viewMyFlights" method="POST">
    <input type="submit" value="View My Upcoming Flights"/>
</form><br/>
<input type="button" onclick="location.href='update';" value="Update Flights/Airports/Airplanes" /><br /><br />
<input type="button" onclick="location.href='view';" value="View Booking Agents/Customers/Reports" /><br /><br />
<input type="button" onclick="location.href='compare';" value="Compare Revenue Earned" /><br /><br />

    {% if result %}
    <table>
        <th>Ticket ID</th>
        <th>Airline Name</th>
        <th>Flight Number</th>
        <th>Airplane ID</th>
        <th>Departure Airport</th>
        <th>Departure Time</th>
        <th>Arrival Airport</th>
        <th>Arrival Time</th>
        <th>Ticket Price</th>
        <th>Status</th>
        <th>Date of Purchase</th>
    
        {% for flight in result %}
        <tr>
            <td>{{ flight.ticket_id }}</td>
            <td>{{ flight.airline_name }}</td>
            <td>{{ flight.flight_num }}</td>
            <td>{{ flight.airplane_id }}</td>
            <td>{{ flight.departure_airport }}</td>
            <td>{{ flight.departure_time }}</td>
            <td>{{ flight.arrival_airport }}</td>
            <td>{{ flight.arrival_time }}</td>
            <td>{{ flight.status}}</td>
            <td>{{ flight.price }}</td>
            <td>{{ flight.purchase_date }}</td>
        </tr>
        {% endfor %}
    
    </table>
    {% endif %}


<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>


<a href="logout">Logout</a>
</body>

</html>
