<!DOCTYPE html>
<html>
<head>
<title>Booking Agent: Update</title>
</head>
<body>
<form action="changeFlightStatus" method="POST">
    <h3>Change Flight Status</h3>
    <input type="text" name="flight_num" placeholder="Enter Flight Number" /> 
    <input type="text" name="status" placeholder="Enter New Flight Status " /> 
    <input type="submit" value="Update"/>
</form>
    
                    
    {% if result_changeFlightStatus %}
    <script>alert("{{ result_changeFlightStatus }}");</script>
    {% endif %}

    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

<form action="addNewAirplane" method="POST">
    <h3>Add New Airplane</h3>
    <input type="text" name="airplane_id" placeholder="Enter Airplane ID" /> 
    <input type="text" name="seats" placeholder="Enter Number of Seats" /> 
    <input type="submit" value="Update"/>
  
</form>


    {% if result_addNewAirplane %}
    <script>alert("{{ result_addNewAirplane }}");</script>
    {% endif %}

    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}



<form action="addNewAirport" method="POST">
        <h3>Add New Airport</h3>
        <input type="text" name="airport_name" placeholder="Enter Airport Name" /> 
        <input type="text" name="airport_city" placeholder="Enter City " /> 
        <input type="submit" value="Update"/>
      
    </form>
    
    
        {% if result_addNewAirport %}
        <script>alert("{{ result_addNewAirport }}");</script>
        {% endif %}
    
        {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}
    
    


<a href="/">back</a>
</body>

</html>