<!DOCTYPE html>
<html>
<head>
<title>Guest Home</title>
</head>
<body>


<h1>
    Welcome {{username}}!
</h1>

<input type="button" onclick="location.href='/login';" value=Login />
<input type="button" onclick="location.href='/register';" value=Register />


<h2>
    Search for Flights
</h2>

<form action="/upcoming" method="POST">
    <input type="text" name="departure_date" placeholder="Enter Departure Date" /> 
    <input type="text" name="arrival_date" placeholder="Enter Arrival Date" /> 
    <input type="text" name="departure_airport" placeholder="Enter Departure Airport"/>
    <input type="text" name="arrival_airport" placeholder="Enter Arrival Airport"/>
    
	<input type="submit" value="Search"/>
</form>

{% if result_upcoming %}
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th>Status</th>

    {% for flight in result_upcoming %}
    <tr>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.price }}</td>
        <td>{{ flight.status }}</td>
    </tr>
    {% endfor %}

</table>
{% endif %}

{% if message_upcoming %}
    <p><strong>{{ message_upcoming }}</strong></p>
{% endif %}


<h2>
    Check Flight Status
</h2>

<form action="/status" method="POST">
    <input type="text" name="flight_num" placeholder="Enter Flight Number" />
    <input type="text" name="departure_date" placeholder="Enter Departure Date" /> 
    <input type="text" name="arrival_date" placeholder="Enter Arrival Date" />
	<input type="submit" value = Search />
</form>

{% if result_status %}
<table>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Airplane ID</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Ticket Price</th>
    <th><strong>Status</strong></th>

    {% for flight in result_status %}
    <tr>
        <td>{{ flight.airline_name }}</td>
        <td>{{ flight.flight_num }}</td>
        <td>{{ flight.airplane_id }}</td>
        <td>{{ flight.departure_airport }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_airport }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.price }}</td>
        <td><p style="color:red;">{{ flight.status }}</p></td>
    </tr>
    {% endfor %}

</table>
{% endif %}

{% if message_status %}
    <p><strong>{{ message_status }}</strong></p>
{% endif %}


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

</body>
</html>
